.Board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 150px;
}

.boardCard {
    margin-top: 25px;
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
    border-radius: 10px;
    align-items: center;
    background-color: #aaf0d1;
    width: 225px;
    border-color: #3EB489;
    border-style: solid;
    gap: 20px;
}

.imgBoard {
    border-radius: 10px;
}

.buttonBoard {
    margin-left: 10px;
    background-color: #3EB489;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    padding: 10px;
}