.BoardInfo {
    text-align: center;
}

.cardButton {
    background-color: #B6FFBB;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    padding: 10px;
}