.NewCard {
    text-align: center;
}

.newCardButton {
    background-color: #B6FFBB;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    padding: 10px;
    margin-top: 15px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: #aaf0d1;
    padding: 20px;
    width: 550px;
    border-radius: 8px;
}   

.exitButton {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: white;
}

.createButton {
    background-color: #3EB489;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    padding: 10px;
    margin-top: 10px;
}

.cardInput {
    width: 275px;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    border-style: outset;
    margin-bottom: 15px;
}

.gifButton {
    margin-bottom: 15px;
    background-color: #3EB489;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    padding: 10px;
}

.showGif {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row column;
    justify-content: center;
    padding-bottom: 20px;
}